body {
	background-color: lightgrey;
	margin-left: 50px;
	margin-right: 50px;
	margin-bottom: 50px;
}

.rightside{
	width: 600px;
	height: 800px;
	float: right;
}

.leftside{
	width: 600px;
	height: 1000px;
	float: left;
}

.about{
	margin-top: 90px;
}

.pancake{
	width: 600px;
	height: 100px;
	background-color: tan;
	position: relative;
	top: 90px;
	border-radius: 50px;
}

.pancakepicture img{
	width: 375px;
	height: 319.5px;
	margin-left: 100px;
	margin-top: 100px;
	top: 200px;
}

.ingredients img{
	width: 250px;
	height: 250px;
	position: relative;
	margin-left: 400px;
	margin-top: 90px;
}

.ingredientlist{
	position: absolute;
	margin-top: 60px;
}

.steps{
	margin-top: 100px;
}

.prep{
	margin-top: 100px;
}

.clock img{
	width: 50px;
	height: 50px;
	float: right;
	margin-right: 330px;
}

.mixingbowl img{
	width: 200px;
	height: 200px;
	float: right;
}

.aboutbox {
    inline-size: 500px;
    font-size: 16pt;
    overflow-wrap: break-word;
    font-family: sofia-pro, sans-serif;
	font-weight: 400;
	font-style: normal;
}


.stepsbox {
    inline-size: 550px;
    overflow-wrap: break-word;
    font-family: sofia-pro, sans-serif;
	font-weight: 400;
	font-style: normal;
}

.ingredientbox{
	font-family: sofia-pro, sans-serif;
	font-weight: 400;
	font-style: normal;
}

.prepbox{
	font-family: sofia-pro, sans-serif;
	font-weight: 200;
	font-style: normal;
	font-size: 14pt;
}

h1{
	position: absolute;
	margin-left: 110px;
	font-family: sofia-pro, sans-serif;
	font-weight: 800;
	font-style: normal;
}

h2{
	font-family: sofia-pro, sans-serif;
	font-weight: 800;
	font-style: normal;
}
